<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RBR Farms</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="text-center py-1" style="background-color: #f9f9f9;">
        <h1 class="title">RBR Farms</h1>
    </div>
    <header class="custom-header">
        <div>
            <div class="title">Eat healthy ,</div>
            <div class="title">Live healthy</div>
        </div>
    </header>
    <div class="container-fluid mt-3">
        <div class="welcome-message" id="welcomeMessage">
            <div style="font-size: 35px; font-weight: bold; text-align: center;">Welcome to RBR Farms</div>
        </div>
    </div>
    <div class="app-container">
        <app-reactive-form></app-reactive-form>
    </div>
    <footer class="footer-custom">
        &copy; 2025 RBR Farms. All rights reserved. | Contact us: info&#64;rbrfarms.com
    </footer>
    
    <!-- Bootstrap JS and other scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>